@import "tailwindcss";
:root {
  background-color: var(--bg-color);
  color:  var(--text-color);

  --bg-color: rgba(118, 2, 110, 0.4);
  --text-color: rgb(85, 0, 159);
  --form-bg: rgb(107, 77, 134);
}
